{{ define "header" }}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <title>{{ .Config.UString "blog_name" "一个博客" }}</title>
    <link href="/css/github-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/css/post.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <div class="title">
            <a href="/">{{ .Config.UString "blog_name" "一个博客" }}</a>
        </div>
    </div>
    <div class="nav-bar">
    <div class="nav-sidefill"></div>
    {{ range $_, $nav := .Config.UList "nav" makeSlice }}
        <div class="nav">
            <a href="{{ $nav.url }}">{{ $nav.name }}</a>
        </div>
    {{ end }}
    <div class="nav-sidefill"></div>
    </div>
    <div class="body">
{{ end }}
